body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: #4880FF;

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 735.362px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 0.3px solid #B9B9B9;
    background: #FFF;

}

h2{
    color: #202224;
    font-family: "Nunito Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.114px;
    margin: 0;
}

p{
    color: #202224;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.064px;
    opacity: 0.8;
    margin-top: 10px;
    margin-bottom: 80px;
}

.btn{
    display: grid;
    place-content: center;
    width: 280px;
    height: 56px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    opacity: 0.9;
    background: #4880FF;
    color: #FFF;
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.071px;
}

.label{
    margin-bottom: 5px;
    color: #202224;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.064px;
    opacity: 0.8;
}

.input-box{
    background-color: #D8D8D8; 
    border: none; /* Quita las líneas del borde */
    outline: none; /* Quita el borde al hacer clic */
    padding: 3px;
    font-size: 22px;
    text-align: left;
    width: 516px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #D8D8D8;
    background: #F1F4F9; /* Alinea el texto a la izquierda */
    margin-bottom: 15px;
}

.toggle{
    border-radius: 5px;
    width: 20px;
    height: 20px;
    margin-top: -15px;
    margin-bottom: 5px;
    color: #202224;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.064px;
    opacity: 0.7;

}

