nav{
width: 100vh;
height: 100px;
flex-shrink: 0;
border: 1px solid #EEE;
background: #FFF;
}

.sidebar{
    display: flex;
    width: 280px;
    height: 960px;
    padding: 24px 24px 32px 24px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 0px 8px 8px 0px;
    border-right: 1px solid var(--Grey-grey-50, #F0F1F3);
    background: #FFF;
}

.sidebar-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
}

.sidebar-element{
display: flex;
padding: 16px 0px;

align-items: flex-start;
gap: 10px;
align-self: stretch;
border-radius: 8px;
}

.sidebar-icono{
display: flex;
align-items: center;
width: 24px;
height: 24px;
flex-shrink: 0;
}
.sidebar-text{
color: var(--Grey-grey-600, #5D6679);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
}

.a{
display: flex;
flex-direction: row;
padding: 16px 0px;

align-items: flex-start;
gap: 10px;
align-self: stretch;
border-radius: 8px;
}